<header-directive></header-directive>

<div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6" style="background-color: #d6e9c6; padding: 15px; border-radius: 5px; text-align:center">
        <h2>$http example.</h2>
        <p>Introduce debugger and run in Debugger mode.</p>
        <button class="btn btn-info" ng-click="serverCall1()">Call-1</button>
        <button class="btn btn-primary" ng-click="serverCall2()">call-2</button>
        <button class="btn btn-danger" ng-click="serverCall3()">Call-3</button>
        <button class="btn btn-success" ng-click="serverCall4()">call-4</button>
        <br>
        <button class="btn btn-success" style="margin-top: 10px" ng-click="postcall()">Post-call</button>

    </div>
    <div class="col-sm-3">

    </div>

</div>